# Exclude files/folders not needed in Docker build context

# Git
.git
.github
.gitignore

# Mix build and deps
_build
deps

# Tests and docs
/test
/doc
/cover

# Editor/OS
.elixir_ls
.vscode
.idea
.DS_Store
Thumbs.db

# Environment files
.env
.env.*
.envrc
.direnv

# Phoenix assets built output
priv/static/assets
priv/static/cache_manifest.json

# Node
assets/node_modules
node_modules
assets/.esbuild
assets/.parcel-cache
assets/.cache

# Misc
*.orig
