services:
  postgres:
    image: postgres:16
    volumes:
      - starbank-pgdata:/var/lib/postgresql/data
    env_file:
      - .env
    environment:
      PGDATA: /var/lib/postgresql/data/pgdata
    ports:
      - "5432:5432"
    networks:
      - starbank-net
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB || exit 1"]
      interval: 5s
      timeout: 5s
      retries: 10
      start_period: 5s

  starbank:
    image: star_bank
    build: .
    ports:
      - "4000:4000"
    depends_on:
      postgres:
        condition: service_healthy
    env_file:
      - .env
    networks:
      - starbank-net

networks:
  starbank-net:
    driver: bridge

volumes:
  starbank-pgdata: